spring:
  application:
    name: notification-service

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  mail:
    host: smtp.gmail.com
    port: 587
    username: "YOUR_EMAIL"
    password: "YOUR_PASSWORD"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
reset-password:
  queue: "reset-password-queue"