#############################
# Build and Output
#############################
target/
*/target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
generated-sources/
generated-test-sources/
maven-status/
maven-archiver/
surefire-reports/

#############################
# Maven Wrapper
#############################
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

#############################
# Kotlin
#############################
.kotlin

#############################
# IntelliJ IDEA
#############################
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

#############################
# Eclipse
#############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#############################
# NetBeans
#############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#############################
# Visual Studio Code
#############################
.vscode/

#############################
# Operating System Files
#############################
.DS_Store
Thumbs.db
desktop.ini

#############################
# Database & Runtime
#############################
pgdata/

#############################
# Logs
#############################
*.log

#############################
# Environment & Config Files
#############################
.env
env.json

#############################
# Miscellaneous
#############################
logs/
tmp/


**/.idea
**/pgdata
**/target
**/application.yml
