#spring.application.name=otp-extractor
server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/otp-extractor
    username: YOUR_USERNAME
    password: YOUR_PASSWORD
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

  cache:
    type: redis

jwt:
  secret-key: YOUR_SECRET_KEY

